* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.bg-img {
  background-image: url(../src/assets/img/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-bg{
  background-image: url(../src/assets/img/footer-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.border-img::after {
  position: absolute;
  width: 100%;
  border: 10px solid #ffffff4d;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 200px;
}

.customAni2{
  animation: customAni2  10s linear infinite ;
}
.customAni {
  animation: customAni 10s linear infinite;
}
.slick-dots li.slick-active {
  width: 15px !important;
  height: 15px !important;
  border-radius: 28px;
  background: #FFFFFF !important;
}

.slick-dots li button:before {
  content: '' !important;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  width: 15px !important;
  height: 15px !important;
  border-radius: 15px !important;
  background: #1A1B39 !important;
}

.slick-dots {
  position: absolute;
  bottom: 70% !important;
  display: block;
  transform: rotate(90deg);
  width: unset !important;
  padding: 0;
  margin: 0;
  right: -30% !important;
  list-style: none;
  text-align: unset !important;
}
.plane {
  animation: plane 6s linear 2s 1;
}


.content {
  position: relative;
}

.content h2 {
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@media (max-width:1280px) {
  .slick-dots {
      right: -7% !important;
  }
}

@media (max-width:1023.9px) {
  .slick-dots {
      right: -3% !important;
  }
}

@media (max-width:640px) {
  .slick-dots {
      left: 0% !important;
      bottom: -10% !important;
      transform: rotate(0deg);
  }
}
@media (max-width:540px) {
  .slick-dots {
    bottom: -8% !important;
}
}


@media (max-width:1023px) {
  .mobileview {
    width: 100%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    color: wheat;
    top: 0;
    z-index: 15;
    gap: 60px !important;
    font-size: 40px !important;
    overflow-y: hidden !important;
   
    background-color: #010223;
    ;
  }
}
@media (min-width:1023px) {
  @keyframes customAni {
    0% {
      transform: translateY(-30px);
    }
  
    25% {
      transform: translateY(30px);
    }
  
    50% {
      transform: translateY(-30px);
    }
  
    75% {
      transform: translateY(30px);
    }
  
    100% {
      transform: translateY(-30px);
    }
  }
  @keyframes customAni2  {
    0% {
    transform: translateY(30px);
    }
  
    25% {
    transform: translateY(-30px);
    }
  
    50% {
    transform: translateY(30px);
    }
  
  
    75% {
    transform: translateY(-30px);
    }
  
    100% {
    transform: translateY(30px);
    }
  }
  
}

@keyframes plane {
  0% {
    top: -400px;
    left: -400px;
    opacity: .0;
    scale: .2;
    rotate: -40deg;
  }

  15% {
    top: -320px;
    left: -320px;
    opacity: .3;
    scale: .3;
    rotate: -30deg;
  }

  30% {
    top: -240px;
    left: -240px;
    opacity: .6;
    scale: .4;
    rotate: -20deg;
  }

  45% {
    top: -160px;
    left: -160px;
    opacity: .7;
    scale: .5;
    rotate: -10deg;
  }

  60% {
    top: -80px;
    left: -80px;
    opacity: .8;
    scale: .6;
    rotate: 0deg;
  }

  100% {
    top: -0px;
    left: 0px;
    opacity: 1;
    scale: 1;
  }
}
@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
